@import 'h5bp/h5bp-head.css';
@import 'h5bp/normalize.css';
@import 'typography.css';
@import 'layout.css';
@import 'utilities.css';
@import 'h5bp/h5bp-tail.css';

/* 

	Put typographic formatting in the typography.css file.
	Page layout styles go in layout.css.

	In production, do not use imports.
	Instead, concatenante and minify files. 

*/


body{ 
    background-image: url('../img/blueprint2a.jpg')}
.container {
    background-color:white;
    height:auto;}
.header {
        padding-top:10px;
        background-color:#FFD700;
              }        
h1 {
    font-family: arial, verdana, sans-serif;
    color: black;
    text-align:center;
    margin-top: 2px;}

image.align-left {
    float:left;
    margin-right:10px;}
imag.align-right {
    float:right;
    margin-left: 10px;}

.construction {
    font-family: arial, verdana, sans-serif;
    color:white;
    text-align:right;
    margin-right:207px;
    margin-top:-7px;
    font-size:1.5em;}



.silentauction {margin-top:-25px;}

.blackborder {
    background-color:black;
    padding:5px;}

.blackborderbottom {
    background-color:black;
    padding:2px;}


nav.main {
    
    background-color:black;
    padding-top:2px;
    height:50px;
    width:100%;}

nav.main li {
    display:inline;
    padding:4%;}
nav.main a {
    text-decoration:none;
    font-family: arial black, arial, verdana, sans-serif;
    color:white;}
nav.main a:hover {
     color:#f99d1c;
    }
nav.main a.active{
    color:#aaa;
}
    
 


.introheader {
    text-align:center;
    color:red;
 background-color:#d0d0d0;
    padding-bottom:10px;
    padding-top:10px;
    margin-right:20px;
    width:400px;
    float:right;
}





.here {
    font-weight:bold;
    font-size:1.5em;
    color:red;
    line-height:1.3em;
    text-decoration:none;
    }


nav.side {
    margin-top:50px;
    float:left;
    height:100%;
    margin-right:60px;
    margin-left:20px;
    position:fixed;
    }

nav.side a {
    text-decoration:none;
    font-family: arial, verdana, sans-serif;
    color:white;
    }
    
 nav.side div.current {
    width:130px;
    margin-bottom:10px;
    margin-top:10px;
    background-color:#f99d1c;
    
    }
    
nav.side a.current {
    color:black;
    font-family: "arial black";}

nav.side div {
    background-color:#6d6e70;
    margin: 5px;
    padding:5px;
    width:100px;
    text-align:center;
   }

div.list {
    
    margin-right:40px;
    margin-left:25%;
    }

           
  
div.list b {
    color:#e2bf21;}

div.list i {
    font-size:.75em;
    line-height:.5em;
    }

div.list img {
    margin-right:15px;
    margin-bottom:10px;
    margin-top:-15px;}
    
img.screwdriver {
    
    margin-bottom:30px; }
    
.date {
    text-align:center;
    font-family: "arial black", arial, sans-serif;
    color:red;
    font-size:1.5em;
    line-height:1.7em;}

.cost {
    background-color:#f99d1c;
    width:40%;
    float:left;
    height:auto;
    color:black;
    padding:30px;
    margin-left:20px;
    
   }
   

.rsvp {
    float:right;
    width:50%;
    text-align:center;
    margin-right:40px;}

.rsvp b {
    color:red;}
.deadline {
    font-family: "arial black";
       font-size:2em;
        }
    
.schedule {
    margin-left:20px;
    width:40%;
    margin-bottom:50px;}
    
.letter {
    text-align:left;
    margin:50px;}
.pta {
    float:right;
    margin:1px;}
.letter h2 {
    color:#f99d1c;}
.letter i {
    color:#f99d1c;}
.bottom {
    margin-top:80px;
    margin-bottom:20px;}
.details{
    text-align:center;
    float:right;
   
    margin-right:50px;}
